/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/rubik-v21-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v21-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/rubik-v21-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v21-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.container {
  width: 1144px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

/*********** HEADER START  **********/

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  margin-bottom: 108px;
}
.navigation_side {
  display: flex;
  align-items: center;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav_list_item_link {
  font-style: normal;
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1.5px;
  color: #242a45;
}
.header_btn {
  width: 111px;
  height: 40px;
  background: #fa5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  margin-left: 48px;
  border: none;
  cursor: pointer;
}

/******************* HEADER SECTION END  *******************/
/****************   HERO SECTIONS START  *******************/

.hero {
  background-image: url(../images/hero_bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 500px) calc(50% + 55px);
  padding-bottom: 83px;
  margin-bottom: 80px;
}

.hero_wrapper {
  display: flex;
}

.hero_title {
  width: 540px;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  color: #242a45;
  margin-bottom: 24px;
}
.hero_desc {
  width: 540px;
  font-size: 18px;
  line-height: 28px;
  color: #242a45;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 32px;
}

.hero_sec_btns {
  display: flex;
  width: 343px;
  justify-content: space-between;
}

.hero_first_btn {
  width: 166px;
  height: 48px;
  background: #5267df;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #fff;
}

.hero_second_btn {
  width: 166px;
  height: 48px;
  background: #f7f7f7;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #242a45;
  mix-blend-mode: normal;
  opacity: 0.75;
}
/********************* HERO SECTION END  ************/
/********************* FEATURES SECTION START  *****/

.features {
  background-image: url(../images/features_bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 400px) calc(50% + 240px);
  padding-bottom: 89px;
  margin-bottom: 149px;
}

.features_top_title {
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #242a45;

  margin-bottom: 16px;
}

.features_top_desc {
  width: 540px;
  font-size: 18px;
  margin: 0 auto;
  line-height: 28px;
  text-align: center;
  color: #242a45;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 72px;
}

.features-list {
  display: flex;
  width: 730px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 50px;
  border-bottom: 1px solid #495dcf33;
  margin-bottom: 72px;
}

.features_list_item_link {
  display: inline-block;
  padding: 25px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.533333px;
  color: #242a45;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.features-list .features_list_item:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-bottom: 5px solid #fa5959;
}
.features_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features_title {
  width: 348px;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
  color: #242a45;
}
.features_desc {
  width: 445px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #242a45;
  text-align: left;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.features_btn {
  width: 114px;
  height: 48px;
  background: #5267df;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

/********************* FEATURES SECTION END  ****************/

/********************* DOWNLOAD SECTION START  *************/
.download {
  margin-bottom: 149px;
}

.download_title {
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #242a45;
  margin-bottom: 16px;
}

.download_desc {
  width: 540px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #242a45;
  mix-blend-mode: normal;
  margin: 0 auto;
  opacity: 0.5;
  margin-bottom: 48px;
}

.download_wrapper {
  display: flex;

  justify-content: center;
}

.firefox {
  margin-top: 40px;
}

.opera {
  margin-top: 80px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding: 49px 24px 24px 24px;
  background: #ffffff;
  margin-right: 34px;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  border-radius: 15px;
}
.card_img {
  width: 102px;
  height: 100px;
  margin-bottom: 32px;
}

.card_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #242a45;
  margin-bottom: 6px;
}
.version {
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #242a45;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 32px;
}

.line {
  width: 280px;
  height: 4px;
  border-bottom: 4px dotted #495dcf33;
  margin-bottom: 34px;
}
.card_btn {
  width: 232px;
  height: 48px;
  background: #5267df;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #ffffff;
  border: none;
}
/************ DOWNLOADS SECTION END  **************/

/************* QUESTION SECTION START  ***********/

.questions {
  margin-bottom: 150px;
}

.question_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question_title {
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #242a45;
  margin-bottom: 16px;
}

.question_desc {
  width: 540px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #242a45;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 56px;
}

details {
  width: 540px;
  border-top: 1px solid #d3d3d3;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 13px;
  cursor: pointer;
}
.last {
  margin-bottom: 54px;
  border-bottom: 1px solid #d3d3d3;
}
details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

details p {
  margin-top: 20px;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

summary {
  display: flex;
  justify-content: space-between;
  width: 540px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  text-align: left;
  color: #242a45;
}
details[open] .summary_arrow {
  transform: rotate(180deg);
}
summary::marker {
  display: none;
}

.question_btn {
  width: 114px;
  height: 48px;
  background: #5267df;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #ffffff;
  border: none;
}

/************* AWARE SECTION START  ************/

.aware {
  background: #5267df;
  padding-top: 58px;
  padding-bottom: 74px;
}
.aware_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistic {
  width: 271px;
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 4px;
  color: #ffffff;
  margin-bottom: 24px;
}
.stay_aware {
  width: 408px;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #ffffff;
  margin-bottom: 36px;
}

form {
  display: flex;
}
.input {
  width: 300px;
  height: 48px;
  background: #ffffff;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 16px;
  border: none;
}
::placeholder {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: rgba(36, 42, 69, 0.250109);
}
.aware_btn {
  width: 126px;
  height: 48px;
  background: #fa5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #ffffff;
}
/************ AWARE SECTION END **************/

/******************* FOOTER SECTION START ********/

.site_footer {
  background: #242a45;
  padding-top: 32px;
  padding-bottom: 37px;
}
.footer_wrapper{
  display: flex;
  justify-content: space-between
  ;
}
.footer_right_side{
  display: flex;
  gap: 40px;
}

.footer_left_side {
  display: flex;
  width: 509px;
  justify-content: space-between;
  align-items: center;
}

.footer_list {
  display: flex;
  width: 296px;
  justify-content: space-between;
}

.footer_list_item_link {
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1.5px;
  color: #ffffff;
}
/****************** FOOTER SECTION END  **********/
