/* rubik-regular - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/rubik-v21-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v21-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/rubik-v21-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v21-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.container {
  width: 1144px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

/*********** HEADER START  **********/

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  margin-bottom: 108px;
}
.navigation_side {
  display: flex;
  align-items: center;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav_list_item_link {
  font-style: normal;
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1.5px;
  color: #242a45;
}
.header_btn {
  width: 111px;
  height: 40px;
  background: #fa5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  margin-left: 48px;
}

/******************* HEADER SECTION END  *******************/
/****************   HERO SECTIONS START  *******************/

.hero {
  background-image: url(../images/hero_bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 500px) calc(50% + 55px);
  padding-bottom: 83px;
  margin-bottom: 80px;
}

.hero_wrapper {
  display: flex;
}

.hero_title {
  width: 540px;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  color: #242a45;
  margin-bottom: 24px;
}
.hero_desc {
  width: 540px;
  font-size: 18px;
  line-height: 28px;
  color: #242a45;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 32px;
}

.hero_sec_btns {
  display: flex;
  width: 343px;
  justify-content: space-between;
}

.hero_first_btn {
  width: 166px;
  height: 48px;
  background: #5267df;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #fff;
}

.hero_second_btn {
  width: 166px;
  height: 48px;
  background: #f7f7f7;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #242a45;
  mix-blend-mode: normal;
  opacity: 0.75;
}
/********************* HERO SECTION END  ************/
/********************* FEATURES SECTION START  *****/


